<div class="container">
    <div class="letter">
        <h1>As long as we dont die this is going to make one hell of a story..! <i class="fa fa-heart"></i></h1>
            </div>
    
<div class="pix">
    <img src="../../assets/pix1.jpg">
    <img src="https://images.unsplash.com/photo-1499062918700-389fa905494e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60">
    <img src="../../assets/pix2.jpg">
</div>
    <div class="icons">
        <h1>Let's Hang Out !!</h1>
        <div class="icon"><i class="fa fa-instagram"></i></div>
        <div class="icon"> <i class="fa fa-facebook-square"></i></div>
        <div class="icon"><i class="fa fa-pinterest"></i></div>
        <div class="icon"><i class="fa fa-twitter"></i></div>
        <div class="icon"><i class="fa fa-youtube-play"></i></div>
    </div>
<div class="pic">       
    <img src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=708&q=80">
    <img src="https://images.unsplash.com/photo-1440778303588-435521a205bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
</div>
</div>
