<div class="container">
    <div class="para1">
       <h1> Yo! I’m Priyanka. </h1>
<p> twenty-something girl from the India, I ditched my house to live out of a backpack.
     Cultures call to me, maps lie to me, and I’ll go anywhere so long as there are friendly faces 
     and wild places.
</p>
<p> travel through truly off the beaten track countries and destinations, sharing my experiences along 
    the way to encourage understanding, and inspire you to do the same no matter where you’re from.</p>
    </div>
     <div class="box">
        <div class="boxes">
       <img src="https://images.unsplash.com/photo-1510414842594-a61c69b5ae57?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
       </div>  
        

       <div class="boxes">
         <h2>For the road less travelled..</h2>
       </div>

        <div class="boxes">
            <img src="../../assets/bg.jpg">
            </div> 

        <div class="boxes">
            <h2>Take only Memories...</h2>
        </div>

        <div class="boxes">
            <img src="https://images.pexels.com/photos/4340790/pexels-photo-4340790.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
           </div>

        <div class="boxes">
        <h2>Leave only Footprints...</h2>
        </div>

        <div class="boxes">
            <img src="https://images.unsplash.com/photo-1526233185109-093c40faef34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80">
        </div>
        

        <div class="boxes">
        <h2>To fuel ur Wanderlust...</h2>
       </div>

        <div class="boxes">
            <img src="https://images.unsplash.com/photo-1572164937242-6e29f09d6a3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
        </div>

       </div>  

       <div class="para2">
       <p> Triptease is an outdoor travel blog read by over many people across the globe.
        If you’re a first-time visitor,this is a good place to start. Below, you will find our
         ‘best of’ collections: curated lists of our most popular content from the last six years.
       You can also learn more about us, meet the founders (novelist Kia Abdullah and photographer Peter Watson), find out how it all started with our first journey in 2014 and see who we’ve worked with on our press page.
       </p>
</div>
      
    
   

</div>
