<div class="container">
    <img src="../../assets/mee.jpg">
   
    <h3>Namaste!</h3>
        <p>I’m Priyanka. I voyage around the world, 
        alternating between swashbuckling skullduggery and gallant gallivanting depending on 
        the alignment of the stars.<br>
        
        … or so I’d like to think</p>.
        
        <p>I’m just a scruffy twenty-something from the India .I'm software engineer by profession who decided to 
            quit her  job and screw off to travel the world for a while.</p>
        
        <p>I live out of a backpack, enjoy wandering hither and thither, and often get lost with 
            purpose (as well as without). You may find me sipping coconut water on a beach in Bali!</p>
            <img src="https://images.unsplash.com/photo-1524850011238-e3d235c7d4c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60">
   
        
      <h3>  About Triptease travel blog</h3>
               
       <p> Let’s start with the basics: I’m crap at planning, a self-proclaimed ice cream Addict with a
         capital P, and love having absolutely no idea what’s going on around me.</p>
         <p>My life is full of full of super awkward moments and 
         crazy adventures.</p>

         <img src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
        <p> I have never in my life claimed to be an adventurer or outdoors lover – until I started 
            hiking in the mountains. With the lovely, lush green forests and foothills, the tantalizing teal lakes
             hidden away like a secret prize waiting to be found, and those stunning sky-high jagged peaks, it was 
             love at first sight. But more than that, hiking in the mountains became an immediate passion because 
             of the way it made me feel. I was able to just be the real me and connect with the version of myself
              that felt the most authentic and true.</p>
              <img src="https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60">

          <p>  Being surrounded by the mountains has a powerful effect on something deeper. 
            It’s as if being amidst something greater than ourselves, changes our perspective and insight on 
            life and the things that really matter. Somehow without trying, you are able to confront your demons,
             re-evaluate your problems or your goals or your desires – you are able to widen your perspective and
              reflect on ‘the big picture’.</p>
              <img src="https://images.unsplash.com/photo-1468818438311-4bab781ab9b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60">    
 
                   
        <h4> Want to know more about the blog  and or my journey ? Everything
             you need to know<br>
              <a routerLink= "/blogs"> is right here.</a>
            </h4>
    
</div>
